extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'nombre', seccion: 'seccion'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(meta='description', content='Descripción de la página')
block content
    main
      div.fa.fa-bus
